<div class="container">
  <h1><%= title %></h1>
  <%= form_with model: @question, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :title, "【質問】", class: 'control-label' %>
      <%= f.text_area :title,
                      class: "form-control initial-height
                            #{'is-invalid' if @question.errors.full_messages_for(:title).any?}",
                      rows: 3 %>
    </div>
    <div class="form-group">
      <%= f.label :details, "【詳細】", class: 'control-label' %>
      <%= f.text_area :details,
                      class: "form-control initial-height
                            #{'is-invalid' if @question.errors.full_messages_for(:details).any?}",
                      rows: 5 %>
    </div>
    <div class="form-group">
      <%= f.submit "送信", class: "btn btn-primary btn-block btn-lg", data: {confirm: "#{title}しますか？"} %>
    </div>
  <% end %>
</div>