<div class="container">
  <h1>新規投稿</h1>
  <%= form_with model: @question, local: true do |f| %>
    <%= render 'error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :title, "【質問】", class: 'control-label' %>
      <%= f.text_area :title, class: 'form-control initial-height', rows: 3 %>
    </div>
    <div class="form-group">
      <%= f.label :details, "【詳細】", class: 'control-label' %>
      <%= f.text_area :details, class: 'form-control initial-height', rows: 5 %>
    </div>
    <div class="form-group">
      <%= f.submit "送信", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<section id="questions">
  <div class="container">
    <% @questions.each do |question| %>
      <div class="question-container">
        <%= link_to(question_path(question.id)) do %>
          <div class="question">
            <div class="row">
              <div class="col-md-7">
                <div class="title-container">
                  <p class="title">
                    <%= truncate(question.title, length: 50) %>
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="info text-right">
                  <p>質問日　<%= question.created_at.strftime('%Y年%m月%d日') %></p>
                  <p><%= question.count %> Views</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>