<% if @solutions.blank? && cookies.signed[:my_question].to_i == @question.id %>
  <%= link_to "質問内容を修正", edit_question_path(@question), class: "btn btn-warning btn-block btn-lg" %>
<% end %>
<section id="question">
<%= render 'shared/error_messages', object: @solution %>
  <div class="title">
    <h3>【質問】</h3>
    <p><%= @question.title %></p>
  </div>
  <hr>
  <div class="detail">
    <h3>【詳細】</h3>
    <p><%= markdown(@question.details).html_safe %></p>
  </div>
  <% if @solutions.present? %>
    <% @solutions.each.with_index(1) do |solution, index| %>
      <!-- 回答が１つしかない場合は，【回答1】でなく【回答】と表示するためにindexをnilに変更-->
      <% index = nil if @solutions.length == 1 %>
      <hr>
      <div class="solution">
        <h3>【回答<%= index %>】</h3>
        <p><%= markdown(solution.content).html_safe %></p>
      </div>
    <% end %>
  <% end %>
</section>
<%= render 'questions/solution_form' %>