<section id="design">
  <% if params[:flash].present? %>
    <div class="alert alert-danger text-center" role="alert">
      <%= link_to new_user_session_path, class: "text-danger" do %>
        <strong><%= params[:flash][:error]  %></strong>
      <% end %>
    </div>
  <% end %>
  <div class="text-center">
    <% @designs.each.with_index(@level) do |design, i| %>
      <div class="col-xs-12">
        <div class="movie-title">
          Lv.<%= i %>：<%= design.title %>
        </div>
        <div class="movie-contents">
          <%= design.contents.html_safe %>
        </div>
      </div>
    <% end %>
    <div class="paginate-container">
      <%= paginate @designs %>
    </div>
  </div>
</section>