<section id="contents">
  <div class="text-center desc">
    <h2 class="text-danger">How To</h2>
    <% text = "動画やテキストなど自分が学びやすい媒体を使って学習を進めていってください。動画はBGM的な感じで流してもいい復習になります。" %>
    <button type="button" data-html="true" class="btn btn-lg btn-danger" data-toggle="popover" data-content="<%= text %>">教材</button>
    <% study = "プログラミングの学習順序としては、Git/Github・Ruby・SQL・Ruby on Railsの順番で進めてください。特にGit/Githubは、初心者が軽視しがちですが現場では超重要なスキルです。" %>
    <button type="button" data-html="true" class="btn btn-lg btn-danger" data-toggle="popover" data-content="<%= study %>">学習順序</button>
    <% mind = "プログラマーの仕事はエラー解決です。ぜひ、エラー解決を楽しんでください。もちろん、調べてもわからないところはいつでもご質問ください。" %>
    <button type="button" data-html="true" class="btn btn-lg btn-danger" data-toggle="popover" data-content="<%= mind %>">学習姿勢</button>
  </div>
  <div class="text-center search-form">
    <h2 class="text-danger">Search Curriculum</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Ruby..">
  </div>
  <h2 class="text-center text-danger">Movie</h2>
  <div class="table-container">
    <table class="table table-striped">
      <thead class="bg-danger text-white">
        <tr>
          <th class="w-1">スキル</th>
          <th class="w-2">ジャンル</th>
          <th class="w-5">内容</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <% @contents[:movie].each.with_index(1) do |movie, i| %>
          <tr>
            <td>
              Lv.<%= i %>
            </td>
            <td>
              <%= movie.genre %>
            </td>
            <td>
              <%= link_to movie.title, movie_path(movie.id), :target => "_blank" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h2 class="text-center text-danger">Text</h2>
  <div class="table-container">
    <table class="table table-striped">
      <thead class="bg-danger text-white">
      <tr>
        <th class="w-1">スキル</th>
        <th class="w-2">ジャンル</th>
        <th class="w-5">内容</th>
      </tr>
      </thead>
      <tbody id="myTable">
      <% @contents[:text].each.with_index(1) do |text, i| %>
        <tr>
          <td>
            Lv.<%= i %>
          </td>
          <td>
            <%= text.genre %>
          </td>
          <td>
            <%= link_to text.title, text_path(text.id), :target => "_blank" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>


  <h2 class="text-center text-success">LINE@</h2>
  <div class="table-container">
    <table class="table table-striped">
      <thead class="bg-success text-white">
      <tr>
        <th class="w-1">No.</th>
        <th class="w-2">ジャンル</th>
        <th class="w-5">内容</th>
      </tr>
      </thead>
      <tbody>
      <% @contents[:line].each.with_index(1) do |line, i| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= line.genre %>
          </td>
          <td>
            <%= link_to line.title, line_path(line.id), :target => "_blank" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

</section>
