<% content_for(:title) { "#{@genre}動画教材" } %>
<% content_for(:description) { "やんばるエキスパートの#{@genre}動画教材です。" } %>
<div class="contents-title text-center">
  <h1><%= @genre %> 動画教材</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <% @movies.each.with_index(@movies.offset_value + 1) do |movie, i| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-dark mb-3">
          <div class="card-header p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <%= embed_youtube(movie.url) %>
            </div>
          </div>
          <div class="card-body text-dark movie-body">
            <p id="watched-movie-<%= movie.id %>">
              <% if @watched_movie_ids.include?(movie.id) %>
                <%= render "watched_movie", movie_id: movie.id %>
              <% else %>
                <%= render "unwatched_movie", movie_id: movie.id %>
              <% end %>
            </p>
            <p class="card-text movie-title">
              <% if ["Basic", "Git", "Ruby", "Ruby on Rails", "Marketing"].include?(movie.genre.title) %>
                Lv.<%= i %>：<%= movie.title %>
              <% else %>
                <%= movie.title %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @movies %>
</div>
<%= render 'shared/banner' %>
