<section id="movie">
  <% if params[:flash].present? %>
    <div class="alert alert-danger text-center" role="alert">
      <%= link_to new_user_session_path, class: "text-danger" do %>
        <strong><%= params[:flash][:error]  %></strong>
      <% end %>
    </div>
  <% end %>
  <div class="text-center">
    <h2>Movie</h2>
    <% @movies.each.with_index(@level) do |movie, i| %>
      <div class="movie-contents">
        Lv.<%= i %>：<%= movie.title %>
        <%= movie.contents.html_safe %>
      </div>
    <% end %>
    <div class="paginate-container">
      <%= paginate @movies %>
    </div>
  </div>
</section>