<section id="movie">
  <div class="container">
    <div class="rows">
      <!-- 追加箇所 -->
      <%= render 'shared/take_of_rails' %>

      <div class="text-center">
        <% if user_signed_in? %>

          <div class="col-xs-12">
            <% @movies.each.with_index(1) do |movie, i| %>
              <% case movie.genre %>
              <% when "Basic", "Git", "Ruby", "Ruby on Rails", "Marketing" %>
                <div class="movie-title">
                  Lv.<%= (((@movies.current_page - 1) * Movie::PER_PAGE) + i) %>：<%= movie.title %>
                </div>
                <div class="movie-contents">
                  <%= movie.contents.html_safe if movie.contents.present? %>
                  <div class="movie-description">
                    <%  if movie.desc.present? %>
                      <%= link_to "ソースコード", "#{movie.desc}", { target: "_blank" } %>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <div class="movie-title">
                  <%= movie.title %>
                </div>
                <div class="movie-contents">
                  <%= movie.contents.html_safe if movie.contents.present? %>
                  <div class="disp-source">
                    <%  if movie.desc.present? %>
                      <%= link_to "ソースコード", "#{movie.desc}", { target: "_blank" } %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="paginate-container">
            <%= paginate @movies %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
