<section id="talk">
  <div class="container">
    <div class="rows">
      <% if flash[:error].present? %>
        <div class="alert alert-danger text-center" role="alert">
          <%= link_to new_user_session_path, class: "text-danger" do %>
            <strong><%= flash[:error]  %></strong>
          <% end %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="text-center">
          <% @talks.each do |talk| %>
            <div class="col-xs-12">
              <div class="movie-title">
                <%= talk.title %>
              </div>
              <div class="movie-contents">
                <%= talk.contents.html_safe %>
                <div class="disp-source">
                  <%  if talk.desc.present? %>
                    <%= link_to "ソースコード", "#{talk.desc}", { target: "_blank" } %>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
          <div class="paginate-container">
            <%= paginate @talks %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
