<h1><%= t('.sign_in') %></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', minlength: 6 %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group form-check">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label' do %>
        <%= resource.class.human_attribute_name('remember_me') %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit  t('.sign_in'), class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<div class="card mt-5">
  <h5 class="card-header">教材について</h5>
  <div class="card-body">
    <p class="card-text">
      この教材は、やんばるCODEオンライン、やんばるエキスパートの会員の方のみの限定公開となっています。
    </p>
    <p class="card-text">
      申し込みは以下のページよりお願いします。
    </p>
    <a href="https://utina.yoshitokamizato.com/entry/2018/09/06/202647">やんばるCODE　オンライン</a><br><br>
    <a href="https://yanbaru-expert.com/">やんばるCODE　エキスパート</a>

  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">案内</h5>
  <div class="card-body">
    <p class="card-text">
      先日まで，共通のアカウントでログインを行う方式を採用しておりましたが，各自でログインを行う方式に切り替えさせていただきました。
    </p>
    <p class="card-text">
      アカウントの新規登録をまだ済まされていない方は以下のリンクからお願いいたします。メールアドレス・パスワードはご自由に設定下さい。
    </p>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-block" %>
  </div>
</div>
