<h1><%= t('.sign_in') %></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <div class="d-flex">
      <%= f.label :password %>
      <small class="ml-auto">
        <%= link_to "パスワードの再設定はこちら", new_password_path(resource_name) %>
      </small>
    </div>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', minlength: 6 %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group form-check">
      <%= f.check_box :remember_me, class: 'form-check-input' %>
      <%= f.label :remember_me, class: 'form-check-label' do %>
        <%= resource.class.human_attribute_name('remember_me') %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit  t('.sign_in'), class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

<div class="card mt-5">
  <h5 class="card-header">案内</h5>
  <div class="card-body">
    <p class="card-text">
      アカウントの新規登録をまだ済まされていない方は，以下のリンクからお願いいたします。
    </p>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-block" %>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">公開範囲について</h5>
  <div class="card-body">
    <p class="card-text">
      こちらの教材は、やんばるCODE、やんばるエキスパートの会員の方のみの限定公開となっています。
    </p>
    <p class="card-text">
      申し込みは以下のページよりお願いいたします。
    </p>
    <p><a href="https://yanbaru-expert.com/">やんばるエキスパート</a></p>
    <p><a href="https://utina.yoshitokamizato.com/entry/2018/09/06/202647">やんばるCODE オンライン</a></p>
    <p><a href="https://utina.yoshitokamizato.com/entry/2020/04/20/164421">やんばるCODE オフライン（月額プラン）</a></p>
    <p><a href="https://utina.yoshitokamizato.com/entry/2020/05/19/103519">やんばるCODE オフライン（住み込みプラン）</a></p>
  </div>
</div>
