<div class="text-center add-button">
  <%= link_to new_word_path, class: "btn btn-primary" do %>
    <%= fa_icon("search-plus") %>&nbsp;&nbsp;りゅうけんさんの名言を追加
  <% end  %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>何についての言及か？</th>
      <th>名言の内容</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% @words.each do |word| %>
        <tr>
          <td><%= word.about %></td>
          <td><%= word.words %></td>
          <td>
            <div class="btn">
              <%= link_to "編集", edit_word_path(word), class: "btn btn-primary" %>
            </div>
            <div class="btn">
              <%= link_to "削除", word_path(word), class: "btn btn-secondary", method: :delete, data: {confirm: "削除しますか?"} %>
            </div>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
