<div class="texts-wrapper">
  <div class="contents-title text-center">
    <h1>チャレンジ問題集</h1>
  </div>
  <div class="row">
    <% @challenges.each do |challenge| %>
      <div class="col-12 col-md-6 col-lg-4 text-card-container">
        <div class="card content-card border-dark mb-3">
          <%= link_to challenge, { :target => "_blank" } do %>
            <div class="card-header p-0">
              <%= image_tag challenge.image.url, loading: "lazy", alt: challenge.title, class: "img-fluid" %>
            </div>
            <div class="card-body text-dark text-card-body">
              <div id="read-challenge-<%= challenge.id %>">
                <% if @complete_challenge_ids.include?(challenge.id) %>
                  <%= render "complete_challenge", challenge_id: challenge.id %>
                <% else %>
                  <%= render "incomplete_challenge", challenge_id: challenge.id %>
                <% end %>
              </div>
              <p class="card-text text-title">
                【<%= challenge.theme %>】<%= challenge.title %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
