<% content_for(:title) { "Rubyチャレンジ課題" } %>
<% content_for(:description) { "やんばるCODEのRubyチャレンジ課題です。" } %>
<div class="texts-wrapper">
  <div class="contents-title text-center">
    <h1>Rubyチャレンジ問題集</h1>
  </div>
  <div class="info_box">
    <p class="p-2 text-center">Rubyのチャレンジ問題集です。<br>
      「<a href="http://yanbaru-expert.com" target="_blank" rel="noopener noreferrer">やんばるエキスパート</a>」参加者の皆様には「チャレンジ課題提出」チャンネルでレビューを行います。
    </p>
  </div>
  <div class="row">
    <% @challenges.each do |challenge| %>
      <div class="col-12 col-md-6 col-lg-4 text-card-container">
        <div class="card content-card border-dark mb-3">
          <%= link_to challenge, { :target => "_blank" } do %>
            <div class="card-header p-0">
              <%= image_tag challenge.image.url, loading: "lazy", alt: challenge.title, class: "img-fluid" %>
            </div>
            <div class="card-body text-dark text-card-body">
              <% if user_signed_in? %>
                <div id="complete-challenge-<%= challenge.id %>">
                  <% if @complete_challenge_ids.include?(challenge.id) %>
                    <%= render "complete_challenge", challenge_id: challenge.id %>
                  <% else %>
                    <%= render "incomplete_challenge", challenge_id: challenge.id %>
                  <% end %>
                </div>
              <% end %>
              <p class="card-text text-title">
                【<%= challenge.theme %>】<%= challenge.title %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/banner' %>
