<section id="marketing">
  <div class="container">
    <div class="rows">
      <% if flash[:error].present? %>
        <div class="alert alert-danger text-center" role="alert">
          <%= link_to new_user_session_path, class: "text-danger" do %>
            <strong><%= flash[:error]  %></strong>
          <% end %>
        </div>
      <% end %>
      <div class="text-center">
        <% if user_signed_in? %>
          <% @marketings.each.with_index(@level) do |marketing, i| %>
            <div class="col-xs-12">
              <div class="marketing-title">
                Lv.<%= i %>：<%= marketing.title %>
              </div>
              <div class="marketing-contents">
                <%= marketing.contents.html_safe if marketing.contents.present? %>
              </div>
            </div>
          <% end %>
          <div class="paginate-container">
            <%= paginate @marketings %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
