<div class="texts-wrapper">
  <% if ENV["YANBARU_GOOGLE_CALENDAR"].present? && request.path == "/" %>
    <div class="contents-title">
      <h2>やんばるCODE イベント日程</h2>
    </div>
    <div class="g-calendar mb-5">
      <iframe src="https://calendar.google.com/calendar/<%= ENV["YANBARU_GOOGLE_CALENDAR"] %>" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
  <% end %>
  <div class="contents-title">
    <h2>テキスト教材</h2>
  </div>
  <%= render 'shared/search_text' %>
  <div class="texts-contents">
    <% @texts.each do |text| %>
      <div class="texts-content">
        <%= link_to text_path(text.id), { :target => "_blank" } do %>
          <%= image_tag text.image.url, loading: "lazy", alt: text.title %>
          <div id="read-text-<%= text.id %>">
            <% if @read_text_ids.include?(text.id) %>
              <%= render "read_text", text_id: text.id %>
            <% else %>
              <%= render "unread_text", text_id: text.id %>
            <% end %>
          </div>
          <h3><%= text.title %></h3>
          <p><%= "【#{text.genre}】" %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/banner' %>