<!-- リアルタイム検索フォーム -->
<%= render 'shared/search_text' %>

<div class="texts-wrapper">
  <div class="contents-title">
    <h2>テキスト教材</h2>
  </div>
  <div class="texts-contents">
    <% @texts.each do |text| %>
      <div class="texts-content">
        <%= link_to text_path(text.id), {:target => "_blank"} do %>
          <% if text.image.attached? %>
            <%= image_tag text.image, loading: "lazy" %>
          <% else %>
            <%= image_tag "texts/no_image.jpg", loading: "lazy" %>
          <% end %>
          <div id="read-text-<%= text.id %>" class="text-right">
            <% if @read_text_ids.include?(text.id) %>
              <%= render "read_text", text_id: text.id %>
            <% else %>
              <%= render "unread_text", text_id: text.id %>
            <% end %>
          </div>
          <h3><%= text.title %></h3>
          <p><%= "【#{text.genre}】" %></p>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/banner' %>
