<% content_for(:title) { @text.title } %>
<% content_for(:description) { @text.description } %>
<% content_for(:twitter_image) { (image_tag @text.image).slice /http.+(\.png|\.jpg|\.gif)/ } if @text.image.attached? %>
<section id="text-contents">
  <h2><%= @text.title %></h2>
  <% if user_signed_in? && current_user.flag %>
    <%= render "movie" if @movies.present? %>
    <%= markdown(@text.contents).html_safe %>
    <div id="read-text-<%= @text.id %>" class="mb-4">
      <% if @read_text_ids.include?(@text.id) %>
        <%= render "read_text", text_id: @text.id %>
      <% else %>
        <%= render "unread_text", text_id: @text.id %>
      <% end %>
    </div>
    <div class="modal fade" id="read-modal" tabindex="-1" role="dialog" aria-labelledby="read-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="read-modal-title">読破おつかれさまです！</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>『<%= @text.title %>』を読破しました。</p>
            <a href="https://twitter.com/intent/tweet?url=<%= request.url %>&text=『<%= @text.title %>』を読破しました！&hashtags=やんばるCODE&hashtags=やんばるエキスパート&" class="btn btn-sns btn-twitter" target="_blank" rel="noopener">
              <%= fa_icon "twitter" %> <span>ツイートする </span>
            </a>
          </div>
          <% if @next_text_id.present? %>
            <div class="modal-footer">
              <%= link_to "次の教材にすすむ", text_path(@next_text_id), class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% elsif user_signed_in? && !(current_user.flag) %>
    <section class="text-center mt-5">
      <p>登録されたSlack IDは削除されております。</p>
      <p>現在参加中のサロンのSlack IDで新規登録をお願いいたします。</p>
    </section>
  <% else %>
    <p>
      記事を閲覧するには，<%= link_to "ログイン", new_user_session_path %>が必要です。
    </p>
    <p class="mb-4">
      <small>
        こちらの記事は，
        <%= link_to "やんばるCODEオンライン", "https://utina.yoshitokamizato.com/entry/2018/09/06/202647" %>
        もしくは
        <%= link_to "やんばるエキスパート", "https://yanbaru-expert.com/" %>
        参加者限定の記事となっております。
      </small>
    </p>
    <section class="advertising_banner">
      <div class="cover text-center">
        <%= link_to "http://yanbaru-expert.com/", target: :_blank, rel: "noopener" do %>
          <%= image_tag "yanbaru_expert_banner.jpg", loading: "lazy" %>
        <% end %>
      </div>
    </section>
  <% end %>
</section>
