<% content_for(:title) { @text.title } %>
<% content_for(:description) { @text.description } %>
<% content_for(:twitter_image) { @text.image.url } %>
<section id="text-contents">
  <h2><%= @text.title %></h2>
  <% if user_signed_in? %>
    <%= render "movie" if @movies.present? %>
    <div class="markdown">
      <%= markdown(@text.contents) %>
    </div>
    <div id="read-text-<%= @text.id %>" class="mb-4">
      <% if @read_text_ids.include?(@text.id) %>
        <%= render "read_text", text_id: @text.id %>
      <% else %>
        <%= render "unread_text", text_id: @text.id %>
      <% end %>
    </div>
    <div class="modal fade" id="read-modal" tabindex="-1" role="dialog" aria-labelledby="read-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="read-modal-title">読破おつかれさまです！</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>『<%= @text.title %>』を読破しました。</p>
            <a href="https://twitter.com/intent/tweet?url=<%= request.url %>&text=『<%= @text.title %>』を読破しました！&hashtags=やんばるCODE&hashtags=やんばるエキスパート&" class="btn btn-sns btn-twitter" target="_blank" rel="noopener">
              <%= fa_icon "twitter" %> <span>ツイートする </span>
            </a>
          </div>
          <% if @next_text_id.present? %>
            <div class="modal-footer">
              <%= link_to "次の教材にすすむ", text_path(@next_text_id), class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% elsif user_signed_in? %>
    <div class="info_box">
      <p class="p-2 text-center">登録されたSlack IDは削除されております。</p>
      <p class="p-2 text-center">現在参加中のサロンのSlack IDで <%= link_to "新規登録", new_user_registration_path %> をお願いいたします。</p>
    </div>
    <%= render "shared/info" %>
    <%= render "shared/banner" %>
  <% else %>
    <div class="info_box">
      <p class="p-2 text-center">教材を閲覧するには，<%= link_to "ログイン", new_user_session_path %> が必要です。</p>
    </div>
    <%= render "shared/info" %>
    <%= render "shared/banner" %>
  <% end %>
</section>
