<header class="fixed-top <%= base_color %>">
  <nav class="navbar navbar-expand-md mw-md navbar-dark header-nav">
    <%= link_to "やんばるエキスパート", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ruby
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Ruby/Railsテキスト教材", texts_path, class: "dropdown-item" %>
            <%= link_to "Ruby/Rails動画教材", movies_path, class: "dropdown-item#{add_disabled}" %>
            <%= link_to "AWSテキスト教材", texts_path(genre: "AWS"), class: "dropdown-item" %>
            <%= link_to "よくある質問集", questions_path, class: "dropdown-item" %>
            <%= link_to "チャレンジ問題集", challenges_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PHP
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "PHPテキスト教材", texts_path(genre: "PHP"), class: "dropdown-item" %>
            <%= link_to "PHP動画教材", movies_path(genre: "PHP"), class: "dropdown-item#{add_disabled}" %>
          </div>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            フロント
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to display_name("HTML&CSS"), texts_path(genre: "HTML&CSS"), class: "dropdown-item" %>
            <%= link_to display_name("JavaScript"), texts_path(genre: "JavaScript"), class: "dropdown-item" %>
            <%= link_to display_name("TypeScript"), texts_path(genre: "TypeScript"), class: "dropdown-item" %>
            <%= link_to display_name("Angular"), texts_path(genre: "Angular"), class: "dropdown-item" %>
            <%= link_to display_name("Vue"), texts_path(genre: "Vue"), class: "dropdown-item" %>
          </div>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              勉強会
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to display_name("Talk"), movies_path(genre: "Talk"), class: "dropdown-item" %>
              <%= link_to display_name("Live"), movies_path(genre: "Live"), class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item"><span class="nav-item nav-link disabled">勉強会</span></li>
        <% end %>
        <li class="nav-item">
          <%= link_to display_name("Money"), movies_path(genre: "Money"), class: "nav-item nav-link #{user_signed_in? ? 'active' : 'disabled'}" %>
        </li>
        <li class="nav-item">
          <%= link_to "LINE", lines_path, class: "nav-item nav-link active" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              マイページ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "進捗管理", my_pages_path, class: "dropdown-item" %>
              <%= link_to "アカウント編集", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
