<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags(title: yield(:title), description: yield(:description), twitter_image: yield(:twitter_image))) %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'contents' if controller.controller_name == 'contents' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div id="container" class="<%= 'mw-sm' if devise_controller? %>">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
