<!DOCTYPE html>
<html>
  <head>
    <title>ErrorCollection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="text-center nav-bar">
      <%= link_to "ユーザ一覧", users_path, class: "btn btn-primary"  %>
      <%= link_to "記事", users_webs_path, class: "btn btn-primary"  %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
