<!DOCTYPE html>
<html>
  <head>
    <title>Collection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-dark bg-primary">
    <%= link_to "Collection", users_webs_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <% if user_signed_in? %>
        <div class="navbar-nav">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="navbar-nav">
          <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link active" %>
        </div>
      <% end %>
      <div class="navbar-nav">
        <%= link_to "教材一覧", contents_path, class: "nav-item nav-link active" %>
      </div>
      <div class="navbar-nav">
        <%= link_to "参考記事", users_webs_path, class: "nav-item nav-link active" %>
      </div>
      <div class="navbar-nav">
        <%= link_to "りゅうけんさん名言集", words_path, class: "nav-item nav-link active" %>
      </div>
    </div>
  </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
