<!DOCTYPE html>
<html>
  <head>
    <title>Gyakuten</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'contents' if controller.controller_name == 'contents' %>
  </head>

  <body>
    <section id="nav">
      <% color = controller.controller_name == "lines" ? "bg-success" : "bg-danger" %>
      <nav class="navbar navbar-expand-lg navbar-dark <%= color %>">
        <%= link_to "Gyakuten", movies_path(content_name: "movies"), class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rails
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "動画教材", movies_path(content_name: "movies"), class: "nav-item nav-link active text-danger" %>
                <%= link_to "テキスト教材", texts_path, class: "nav-item nav-link active text-danger" %>
                <%= link_to "ライブコーディング", movies_path(content_name: "lives"), class: "nav-item nav-link active text-danger" %>
                <%= link_to "質問集", questions_path, class: "nav-item nav-link active text-danger" %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to "PHP講座", movies_path(content_name: "phps"), class: "nav-item nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "対談", movies_path(content_name: "talks"), class: "nav-item nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "情報発信", marketings_path, class: "nav-item nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "動画編集講座", movies_path(content_name: "videoedittings"), class: "nav-item nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "ライティング講座", movies_path(content_name: "writings"), class: "nav-item nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "LINE@", lines_path, class: "nav-item nav-link active" %>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
              <% else %>
                <a href="#" class="nav-item nav-link active" data-toggle="modal" data-target="#signUpModal">ログイン</a>
                <%= render partial: 'devise/sessions/new' %>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </section>

    <div id="container">
      <%= yield %>
    </div>

    <footer class="footer <%= color %>">
      <%= link_to "ブログ", "http://utina.yoshitokamizato.com/", class: "text-white", target: "_blank" %>
      <%= link_to "Youtube", "https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag", class: "text-white", target: "_blank" %>
    </footer>
  </body>
</html>
